
  <dialog id="login">
      <form>
          <h3 id="cabecera-login">BIENVENIDO</h3>
          <img class="perfil" src="Img\LuisSoto.png">

          <div class="form-tbx">
              <i class="fa-solid fa-user"></i>
              <input type="email" class="form-control" placeholder="Nombre de usuario" required>
          </div>

          <div class="form-tbx">
              <i class="fa-solid fa-key"></i>    
              <input type="password" class="form-control"  placeholder="Contraseña" required>
          </div>

          <div class="form-btn">
              <button class="form-button" type="submit">Iniciar sesión</button>
              <button class="form-button" id="cerrar-login">Salir</button>  
          </div>

        </form>    
  </dialog>

  <div class="trailers_nav"><h1>Trailers</h1></div>
  <div class="trailers_cont">
      <div class="trailers_movie">
          <section id="trailersMovie"><h3 id="namemovie">Trailers movies</h3></section>
          <ul>
              <li class="movie">
                  <div class="movie-link">
                      <img class="movie-img" src="https://www.ecartelera.com/carteles/11100/11185/001_m.jpg" alt="">
                      <ul>
                          <li class="title" id="title">Titulo <strong>THE BATMAN</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>04/03/2022</strong></li>
                      </ul>
                      <a href="https://youtu.be/FUP3P9_mqvA" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="movie">
                  <div  class="movie-link">
                      <img class="movie-img" src="https://cinema.com.do/posters/poster2711.jpg" alt="">
                      <ul>
                              <li class="title" id="title">Titulo <strong>FORREST GUMP</strong></li>
                              <li class="fecha" id="title">Fecha de lanzamiento <br><strong>06/07/1994</strong></li>
                      </ul>
                      <a href="https://youtu.be/GIs2gpWpBiQ" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="movie">
                  <div class="movie-link">
                      <img class="movie-img" src="https://r1.abcimg.es/resizer/resizer.php?imagen=https%3A%2F%2Fstatic2.abc.es%2Fmedia%2Fpeliculas%2F000%2F004%2F927%2Fviernes-13-1.jpg&nuevoancho=690&medio=abc" alt="">
                      <ul>
                          <li class="title" id="title">Titulo <strong>VIERNES 13</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>09/05/1980</strong></li>
                      </ul>
                      <a href="https://youtu.be/MfwLgrasoqs" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="movie">
                  <div class="movie-link">
                      <img class="movie-img"src="https://es.web.img2.acsta.net/pictures/14/07/01/13/37/581497.jpg" alt="">
                      <ul>
                          <li class="title" id="title">Titulo <strong>CORAZONES DE ACERO</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>15/10/1994</strong></li>
                      </ul>
                      <a href="https://youtu.be/lqgfXkSh4x0" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="movie">
                  <div class="movie-link">
                      <img class="movie-img" src="https://lanacionar-la-nacion-ar-prod.cdn.arcpublishing.com/resizer/jjRiNH1XzKcRLgRbqQbh_HIvPjg=/210x300/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/L3VHMXOF5ZDHVPUYKECQDNLT3E.jpg" alt="" >
                      <ul>
                          <li class="title" id="title">Titulo <strong>TAXI DRIVER</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>08/02/1976</strong></li>
                      </ul>
                      <a href="https://youtu.be/FzNFDRgA0wk" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="movie">
                  <div class="movie-link">
                      <img src="https://cartelerasdecine.info/wp-content/uploads/2017/10/Blade-Runner-2049-Pelicula-Carteleras-de-Cine.jpg" alt="" class="movie-img">
                      <ul>
                          <li class="title" id="title">Titulo <strong>BLADE RUNNER 2049</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>10/6/2017</strong></li>
                      </ul>
                      <a href="https://youtu.be/FzNFDRgA0wk" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="movie">
                  <div  class="movie-link">
                      <img src="https://www.ecartelera.com/carteles/3800/3851/005_m.jpg" alt="" class="movie-img">
                      <ul>
                          <li class="title" id="title">Titulo <strong>INTERSTELLAR</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>26/10/2014</strong></li>
                      </ul>
                      <a href="https://youtu.be/FzNFDRgA0wk" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="movie">
                  <div class="movie-link">
                      <img src="https://www.ecartelera.com/carteles/1600/1643/001_m.jpg" alt="" class="movie-img">
                      <ul>
                          <li class="title" id="title">Titulo <strong>SOY LEYENDA</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>14/12/2007</strong></li>
                      </ul>
                      <a href="https://youtu.be/TXQ7kRnFXS4" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
          </ul>
      </div>
      <div class="trailers_series">
          <Section id="trailers_series"><h3 id="namemovie">Series</h3></Section>
          <ul>
              <li class="series">
                  <div  class="series-link">
                      <img src="https://es.web.img3.acsta.net/c_310_420/pictures/18/10/31/17/34/2348073.jpg" alt="" class="series-img">
                      <ul>  
                          <li class="title" id="title">Titulo <strong>RICK AND MORTY</strong></li>
                          <li class="title" id="title">Temporada <strong>6</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>04/09/2022</strong></li>
                      </ul>
                      <a href="https://youtu.be/P9WZhGMlDBE" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="series">
                  <div class="series-link">
                      <img src="https://www.cine.com/media/series/30_w500.jpg" alt="" class="series-img">
                      <ul>  
                          <li class="title" id="title">Titulo <strong>BREAKING BAD</strong></li>
                          <li class="title" id="title">Temporada <strong>5</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>15/07/2012</strong></li>
                      </ul>
                      <a href="https://youtu.be/3oFofYisAko"target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="series">
                  <div class="series-link">
                      <img src="https://www.cartelera.com.uy/imagenes_espectaculos/moviedetail13/30076.jpg" alt="" class="series-img">
                      <ul>  
                          <li class="title" id="title">Titulo <strong>BETTER CALL SAUL</strong></li>
                          <li class="title" id="title">Temporada <strong>6</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>18/04/2022</strong></li>
                      </ul>
                      <a href="https://youtu.be/30RIP7LYPXg" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="series">
                  <div class="series-link">
                      <img src="http://4.bp.blogspot.com/-UKiQt6LHxL0/VN2DCsgLNEI/AAAAAAAAALw/I1xrsDRzVjs/s1600/the_walking_dead.jpg" alt="" class="series-img">
                      <ul>  
                          <li class="title" id="title">Titulo <strong>THE WALKING DEAD</strong></li>
                          <li class="title" id="title">Temporada <strong>11</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>31/10/2022</strong></li>
                      </ul>
                      <a href="https://youtu.be/uwgohmYnDu0" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="series">
                  <div class="series-link">
                      <img src="https://pics.filmaffinity.com/The_Punisher_Serie_de_TV-727707803-large.jpg" alt="" class="series-img">
                      <ul>  
                          <li class="title" id="title">Titulo <strong>PUNISHER</strong></li>
                          <li class="title" id="title">Temporada <strong>2</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>18/01/2019</strong></li>
                      </ul>
                      <a href="https://youtu.be/MKw33EBiQQ8" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="series">
                  <div class="series-link">
                      <img id="bigname" src="https://i.pinimg.com/564x/75/a5/8f/75a58fbaeda80acf5cf80732686402be.jpg" alt="" class="series-img">
                      <ul>  
                          <li class="title" id="title">Titulo<strong>THE END OF THE F**CKING WORLD</strong></li>
                          <li class="title" id="title">Temporada <strong>6</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>04/09/2022</strong></li>
                      </ul>
                      <a href="https://youtu.be/YJbpBijpwcU" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="series">
                  <div class="series-link">
                      <img src="https://es.web.img2.acsta.net/pictures/14/01/13/10/06/336848.jpg" alt="" class="series-img">
                      <ul>  
                          <li class="title" id="title">Titulo <strong>VIKINGS</strong></li>
                          <li class="title" id="title">Temporada <strong>6</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>30/12/2020</strong></li>
                      </ul>
                      <a href="https://youtu.be/2LDKmeHnrdI" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
              <li class="series">
                  <div class="series-link">
                      <img src="https://cl.buscafs.com/www.tomatazos.com/public/uploads/images/267532/267532_173x251.jpg" alt="" class="series-img">
                      <ul>  
                          <li class="title" id="title">Titulo <strong>PEAKY BLINDERS</strong></li>
                          <li class="title" id="title">Temporada <strong>6</strong></li>
                          <li class="fecha" id="title">Fecha de lanzamiento <br><strong>27/02/2022</strong></li>
                      </ul>
                      <a href="https://youtu.be/NknSkTrOWrk" target="_blank"><button class="button-ver">Ver trailer</button></a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
<footer>
  <div class="footer-pg">
      <ul>
          <li class="personal">
              Manuel Alejandro Santana Ramírez
              2021-1818
          </li>
          <li class="personal">
              <p>Jose Carlos Guerrero De la Cruz
                  2021-1927
              </p>
          </li>
          <li class="personal">
              <p>Diego Olivero Matos
                  2021-1803
              </p>
          </li>
      </ul>
  </div>
</footer>