<main>

    <dialog id="login">
        <form>
            <h3 id="cabecera-login">BIENVENIDO</h3>
            <img class="perfil" src="https://map.gob.do/DirectorioFuncionarios/Images/PhotoFiles/Foto_24_6_2021_Capturadepantalla2021-06-24082710.png">

            <div class="form-tbx">
                <i class="fa-solid fa-user"></i>
                <input type="email" class="form-control" placeholder="Nombre de usuario" required>
            </div>

            <div class="form-tbx">
                <i class="fa-solid fa-key"></i>
                <input type="password" class="form-control"  placeholder="Contraseña" required>
            </div>

            <div class="form-btn">
                <button class="form-button" type="submit">Iniciar sesión</button>
                <button class="form-button">Salir</button>
            </div>

          </form>
    </dialog>

    <div class="trailers_nav"><h1>Trailers</h1></div>
    <div class="trailers_cont">
        <div class="trailers_movie">
            <section id="trailersMovie"><h3 id="namemovie">Trailers movies</h3></section>
            <ul>
                <li *ngFor="let trailers of lista.data;" class="movie">
                    <div class="movie-link">
                        <img class="movie-img" src= {{trailers.imagesUrl}} alt="">
                        <ul>
                            <li class="title" id="titulo">Titulo <strong>{{trailers.title}}</strong></li>
                            <li class="fecha" id="fecha">Fecha de lanzamiento <br><strong>{{trailers.date}}</strong></li>
                        </ul>
                        <a href={{trailers.trailersUrl}} target="_blank"><button class="button-ver">Ver trailer</button></a>
                    </div>
            </ul>
        </div>
        <div class="trailers_series">
            <Section id="trailers_series"><h3 id="namemovie">Series</h3></Section>
            <ul>
                <li class="series">
                    <div  class="series-link">
                        <img src="https://es.web.img3.acsta.net/c_310_420/pictures/18/10/31/17/34/2348073.jpg" alt="" class="series-img">
                        <ul>
                            <li class="title" id="title">Titulo <strong>RICK AND MORTY</strong></li>
                            <li class="title" id="title">Temporada <strong>6</strong></li>
                            <li class="fecha" id="title">Fecha de lanzamiento <br><strong>04/09/2022</strong></li>
                        </ul>
                        <a href="https://youtu.be/P9WZhGMlDBE" target="_blank"><button class="button-ver">Ver trailer</button></a>
                    </div>
                </li>
                <li class="series">
                    <div class="series-link">
                        <img src="https://www.cine.com/media/series/30_w500.jpg" alt="" class="series-img">
                        <ul>
                            <li class="title" id="title">Titulo <strong>BREAKING BAD</strong></li>
                            <li class="title" id="title">Temporada <strong>5</strong></li>
                            <li class="fecha" id="title">Fecha de lanzamiento <br><strong>15/07/2012</strong></li>
                        </ul>
                        <a href="https://youtu.be/3oFofYisAko"target="_blank"><button class="button-ver">Ver trailer</button></a>
                    </div>
                </li>
                <li class="series">
                    <div class="series-link">
                        <img src="https://www.cartelera.com.uy/imagenes_espectaculos/moviedetail13/30076.jpg" alt="" class="series-img">
                        <ul>
                            <li class="title" id="title">Titulo <strong>BETTER CALL SAUL</strong></li>
                            <li class="title" id="title">Temporada <strong>6</strong></li>
                            <li class="fecha" id="title">Fecha de lanzamiento <br><strong>18/04/2022</strong></li>
                        </ul>
                        <a href="https://youtu.be/30RIP7LYPXg" target="_blank"><button class="button-ver">Ver trailer</button></a>
                    </div>
                </li>
                <li class="series">
                    <div class="series-link">
                        <img src="http://4.bp.blogspot.com/-UKiQt6LHxL0/VN2DCsgLNEI/AAAAAAAAALw/I1xrsDRzVjs/s1600/the_walking_dead.jpg" alt="" class="series-img">
                        <ul>
                            <li class="title" id="title">Titulo <strong>THE WALKING DEAD</strong></li>
                            <li class="title" id="title">Temporada <strong>11</strong></li>
                            <li class="fecha" id="title">Fecha de lanzamiento <br><strong>31/10/2022</strong></li>
                        </ul>
                        <a href="https://youtu.be/uwgohmYnDu0" target="_blank"><button class="button-ver">Ver trailer</button></a>
                    </div>
                </li>
                <li class="series">
                    <div class="series-link">
                        <img src="https://www.themoviedb.org/t/p/original/kKAoRFhjkBnTCTlpepABFsooc0n.jpg" alt="" class="series-img">
                        <ul>
                            <li class="title" id="title">Titulo <strong>PUNISHER</strong></li>
                            <li class="title" id="title">Temporada <strong>2</strong></li>
                            <li class="fecha" id="title">Fecha de lanzamiento <br><strong>18/01/2019</strong></li>
                        </ul>
                        <a href="https://youtu.be/MKw33EBiQQ8" target="_blank"><button class="button-ver">Ver trailer</button></a>
                    </div>
                </li>
                <li class="series">
                    <div class="series-link">
                        <img id="bigname" src="https://i.pinimg.com/564x/75/a5/8f/75a58fbaeda80acf5cf80732686402be.jpg" alt="" class="series-img">
                        <ul>
                            <li class="title" id="title">Titulo<strong>THE END OF THE F**CKING WORLD</strong></li>
                            <li class="title" id="title">Temporada <strong>6</strong></li>
                            <li class="fecha" id="title">Fecha de lanzamiento <br><strong>04/09/2022</strong></li>
                        </ul>
                        <a href="https://youtu.be/YJbpBijpwcU" target="_blank"><button class="button-ver">Ver trailer</button></a>
                    </div>
                </li>
                <li class="series">
                    <div class="series-link">
                        <img src="https://es.web.img2.acsta.net/pictures/14/01/13/10/06/336848.jpg" alt="" class="series-img">
                        <ul>
                            <li class="title" id="title">Titulo <strong>VIKINGS</strong></li>
                            <li class="title" id="title">Temporada <strong>6</strong></li>
                            <li class="fecha" id="title">Fecha de lanzamiento <br><strong>30/12/2020</strong></li>
                        </ul>
                        <a href="https://youtu.be/2LDKmeHnrdI" target="_blank"><button class="button-ver">Ver trailer</button></a>
                    </div>
                </li>
                <li class="series">
                    <div class="series-link">

                        <img src="https://cl.buscafs.com/www.tomatazos.com/public/uploads/images/267532/267532_173x251.jpg" alt="" class="series-img">
                        <ul>
                            <li class="title" id="title">Titulo <strong>PEAKY BLINDERS</strong></li>
                            <li class="title" id="title">Temporada <strong>6</strong></li>
                            <li class="fecha" id="title">Fecha de lanzamiento <br><strong>27/02/2022</strong></li>
                        </ul>
                        <a href="https://youtu.be/NknSkTrOWrk" target="_blank"><button class="button-ver">Ver trailer</button></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer>
    <div class="footer-pg">
        <ul>
            <li class="personal">
                Manuel Alejandro Santana Ramírez
                2021-1818
            </li>
            <li class="personal">
                <p>Jose Carlos Guerrero De la Cruz
                    2021-1927
                </p>
            </li>
            <li class="personal">
                <p>Diego Olivero Matos
                    2021-1803
                </p>
            </li>
        </ul>
    </div>
</footer>
