<div class="nav">
  <!-- Deberia contener el mismo link de la pagina para ser una vuelta al inicio -->
  <a href="#" class="nameLogo"><b>NETSOTO</b></a>
  <div class="nav_menu">
      <ul class="table_primary_nav">
          <li class="nav_tap">
              <a href="#">Inicio</a>
          </li>
          <li class="nav_tap">
              <a href="#trailers_series">Series</a>
          </li>
          <li class="nav_tap">
              <a href="#trailersMovie">Peliculas</a>
          </li>
      </ul>
  </div>
  <div class="list_nav">
      <div class="nav_element">
          <ul>
              <li>
                  <a href="#" class="profile">
                      <button class="material-symbols-outlined" id="abrir-login">
                          badge
                      </button>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</div>


<router-outlet></router-outlet>